.footer{
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(0,0,0,0.420);
}

.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px
}

.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.email,
.location {
    display: flex;
    margin-bottom: 0.8rem;
    font-weight: 600;
}

.email p,
.location p{
    line-height: 30px;
}

.phone {
    display: flex;
    margin-bottom: 0.8rem;
}

.right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.right h4{
    color: white;
}

.social {
    margin-top: 1rem;
}

.h4{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
    color: white;
}

p{
    color: white;
}


@media screen and (max-width: 640px){
    .footer-container {
        grid-template-columns: 1fr;
    }
}